<div id="header"></div>
<div id="main"></div>
<div id="footer"></div>

<script id="userLogInView-template" type="text/x-template">
  <div class="main-container">
    <h2>Log in</h2> 
    <form> 
    <p class="login-error"></p>
      <div>
        <input id="username" placeholder="Enter your username" required></input> 
      </div> 
      <div>
        <input id="password" type="password" placeholder="Enter your password" required></input> 
      </div> 
      <button class="btn log-in-btn">Log in</button> 
    </form> 
  </div> 
</script>

<script id="userSignUpView-template" type="text/x-template">
  <div class="main-container">
    <h2>Sign up</h2> 
    <form> 
    <p class="signup-error"></p>
      <div>
        <input id="username" pattern=".{5,15}" placeholder="Enter a username" required></input> 
      </div> 
      <div>
        <input id="email" placeholder="Enter your email" required></input> 
      </div> 
      <div>
        <input id="password" type="password" placeholder="Enter your password" required></input> 
      </div> 
      <div>
        <input id="password_confirmation" type="password" placeholder="Confirm password" required></input>
      </div> 
      <button class="btn sign-up-btn">Sign up</button> 
    </form> 
  </div>  
</script>

<script id="userLoggedInView-template" type="text/x-template">
   <header>
    <a href=""><h1 class="title">Playa<i class="fa fa-play"></i></h1></a>
    <nav>
      <div class="nav-links">
        <ul>
          <li class="nav-link nav-link-username">Welcome {{username}}!</li>
          <li class="nav-link nav-link-new-playlist"><a href="#newplaylist">New playlist</a></li>
          <li class="nav-link nav-link-my-playlists"><a href="#myplaylists">My playlists</a></li>
          <li class="nav-link nav-link-log-out"><a href="logout">Log out</a></li>
        </ul>
      </div>
    </nav>
  </header>
</script>

<script id="userLoggedOutView-template" type="text/x-template">
   <header>
    <h1 class="title">Playa<i class="fa fa-play"></i></h1>
    <nav>
      <div class="nav-links">
        <ul>
          <li class="nav-link nav-link-log-in"><a href="#login">Log in</a></li>
          <li class="nav-link nav-link-sign-up"><a href="#signup">Sign up</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="main-container">
    <h1 class="playa-title-index">Playa<i class="title-index-icon fa fa-play"></i> <span class="blue">play fair</span></h1>
    <h2 class="playa-blurb-index">Ever been to a party where your favourite song doesn&#39;t get played, or it gets skipped half way through? Say goodbye to music hogs and hello to Playa in three simple steps:</h2>
    <ul class="playa-list-index">
      <li class="playa-listitem-index">1. Make a playlist for your event<li>
      <li class="playa-listitem-index">2. Invite friends to add songs</li>
      <li class="playa-listitem-index">3. Vote to skip if there's a track you don't like</li>
    </ul>
  </div>
</script>

<script id="userHomeView-template" type="text/x-template">
  <div class="main-container">
    <h1 class="playa-title-index">Playa<i class="title-index-icon fa fa-play"></i> <span class="blue">play fair</span></h1>
    <h2 class="playa-blurb-index">Ever been to a party where your favourite song doesn&#39;t get played, or it gets skipped half way through? Say goodbye to music hogs and hello to Playa in three simple steps:</h2>
    <ul class="playa-list-index">
      <li class="playa-listitem-index">1. Make a playlist for your event<li>
      <li class="playa-listitem-index">2. Invite friends to add songs</li>
      <li class="playa-listitem-index">3. Vote to skip if there's a track you don't like</li>
    </ul>
  </div>
</script>

<script id="newPlaylistView-template" type="text/x-template">
  <div class="main-container">
    <h2><span class="step">Step One: </span>Make new playlist</h2> 
    <form> 
      <div> 
        <input id="name" placeholder="Enter playlist name"></input> 
      </div> 
      <div>
        <input id="song-limit" type="number" min="1" max="10" placeholder="Number of songs per person"></input> 
      </div>
      <button class="btn new-playlist-btn">Go!</button> 
    </form>  
  </div>
</script>

<script id="addSongsHeadingOwnerView-template" type="text/x-template">
  <h2><span class="step">Step Two: </span>Add songs</h2>  
</script>

<script id="addSongsHeadingGuestView-template" type="text/x-template">
  <h2><span class="step"></span>Add songs</h2>
  <p>Paste the URL of any SoundCloud song</p> 
</script>

<script id="addSongsView-template" type="text/x-template">
  <div class="main-container">
    <form class="add-songs-form"> 
      <button class="btn add-owner-songs-btn">Go!</button>
    </form>  
  </div>
</script>

<script id="addSongsGuestView-template" type="text/x-template">
  <div class="main-container">
    <form class="add-songs-form"> 
      <button class="btn add-songs-btn">Go!</button>
    </form>  
  </div>
</script>

<script id="addSongInputView-template" type="text/x-template">
    <div>
      <input id="url1" placeholder="http://soundcloud.com/thepreatures/ithyf"></input> 
    </div> 
  </form>  
</script>

<script id="addSongSkipStepView-template" type="text/x-template">
  <a class="skip-step" href="#shareplaylist">Skip step ></a>
</script>

<script id="sharePlaylistView-template" type="text/x-template">
  <div class="main-container">
  <h2><span class="step">Step Three: </span>Share playlist</h2> 
  <p class="share-playlist">Your playlist URL is: <a class="playlist-share-url" href="https://playa-app.herokuapp.com/#{{user.username}}/{{playlist.playlist_url}}">www.playa-app.herokuapp.com/#{{user.username}}/{{playlist.playlist_url}}</a></p>
  <a href="#{{user.username}}/{{playlist.playlist_url}}" class="go-to-playlist">View Playlist ></a>
  </div>
</script>

<script id="myPlaylistsViewTitle-template" type="text/x-template">
  <div class="main-container">
    <h2>My playlists</h2>
    <div class="playlists"></div>
  </div>
</script>

<script id="myPlaylistsView-template" type="text/x-template">
  <a class="single-playlist" href="#{{user.username}}/{{playlist_url.playlist_url}}"><h3>{{playlist_url.name}}</h3></a>
  <p class="playlist-created-at">Created on {{ moment(created_at).format('MMMM Do YYYY') }}</p>
</script>

<script id="playlistOwnerView-template" type="text/x-template">
    <div class="player-container"></div>
    <div class="playlist-stats-container"></div>
    <div class="song-stats-container"></div>
    <div class="songs-container"></div>
</script>

<script id="playlistStatsView-template" type="text/x-template">
  <ul class="playlist-stats stats">
    <li class="stat playlist-stat">Created by: {{creator_name}}</li>
    <li class="stat playlist-stat">Contributors: {{contributor_count}}</li>
  </ul>
</script>

<script id="songStatsView-template" type="text/x-template">
  <li class="stat song-stat">Song chosen by: {{song_chosen_by}} | </li> 
  <li class="stat song-stat">Skips: {{skips_on_song}}, {{skips_as_pc}}%</li>
</script>

<script id="playerView-template" type="text/x-template">
  <div class="player-info-container">
    <div class="left">
      <div class="playlist-name">{{playlist_name}}</div>
      <ul class="playlist-stats stats">
        <li class="stat playlist-stat">Created by: {{creator_name}} | </li>
        <li class="stat playlist-stat">Contributors: {{contributor_count}} | </li>
      </ul>
    </div>
    <div class="right">
      <a href="" class="shuffle" >Shuffle</a>
      <p class="hello">hello</p>
    </div>
  </div>
  <div class="player">{{iframe}}</div>
</script>

<script id="songView-template" type="text/x-template">
  <div class="song-view">
    <div class="song-count"></div>
    <a class="link-to-song" href="{{song_info.url}}" target="_blank"><i class="fa fa-3x fa-music"></i></a>
    <img class="song-image" src="{{song_info.image}}"/>
    <div class="song-info-overlay hide">
      <ul>
        <li>Song: {{song_info.title}}</li>
        <li>Artist: {{song_info.artist}} </li>
        <li>Skips: {{song_skips}}, {{song_skips_pc}}%</li>
      </ul>
      <a href="" class="{{skipped}} skip-btn btn">Vote to {{skipped}}</a>
    </div>
  </div>
</script>

<script id="playlistGuestView-template" type="text/x-template">
    <div class="guest-playlist-name-stats-container"></div>
    <div class="guest-vote-container"></div>
    <div class="guest-add-songs-container"></div>
</script>

<script id="playlistTopGuestView-template" type="text/x-template">
<div class="player-info-container">
  <div class="left">
    <div class="playlist-name">{{playlist_name}}</div>
    <ul class="playlist-stats stats">
      <li class="stat playlist-stat">Created by: {{creator_name}} | </li>
      <li class="stat playlist-stat">Contributors: {{contributor_count}} | </li>
    </ul>
  </div>
</div>
</script>




