<div id="header"></div>
<div id="main"></div>
<div id="footer"></div>

<script id="userLogInView-template" type="text/x-template">
  <h2>Log in</h2> 
  <form> 
    <div>
      <label for="username">Username</label><br> 
      <input id="username" placeholder="Enter your username" required></input> 
    </div> 
    <div>
      <label for="password">Password</label><br>
      <input id="password" type="password" placeholder="Enter your password" required></input> 
    </div> 
    <button class="btn log-in-btn">Log in</button> 
  </form>  
</script>

<script id="userSignUpView-template" type="text/x-template">
  <h2>Sign up</h2> 
  <form> 
    <div>
      <label for="username">Username</label><br> 
      <input id="username" pattern=".{5,15}" placeholder="Enter your username" required></input> 
    </div> 
    <div>
      <label for="email">Email</label><br> 
      <input id="email" placeholder="Enter your email" required></input> 
    </div> 
    <div>
      <label for="password">Password</label><br>
      <input id="password" type="password" placeholder="Enter your password" required></input> 
    </div> 
    <div>
      <label for="password_confirmation">Password Confirmation</label><br>
      <input id="password_confirmation" type="password" placeholder="Confirm password" required></input>
    </div> 
    <button class="btn sign-up-btn">Sign up</button> 
  </form>  
</script>

<script id="userLoggedInView-template" type="text/x-template">
   <header>
    <h1 class="title">Playa<i class="fa fa-play"></i></h1>
    <nav>
      <div class="nav-links">
        <ul>
          <li class="nav-link nav-link-username">{{username}}</li>
          <li class="nav-link nav-link-new-playlist"><a href="#newplaylist">New playlist</a></li>
          <li class="nav-link nav-link-my-playlists"><a href="#myplaylists">My playlists</a></li>
          <li class="nav-link nav-link-log-out"><a href="logout">Log out</a></li>
        </ul>
      </div>
    </nav>
  </header>
</script>

<script id="userLoggedOutView-template" type="text/x-template">
   <header>
    <h1 class="title">Playa<i class="fa fa-play"></i></h1>
    <nav>
      <div class="nav-links">
        <ul>
          <li class="nav-link nav-link-log-in"><a href="#login">Log in</a></li>
          <li class="nav-link nav-link-sign-up"><a href="#signup">Sign up</a></li>
        </ul>
      </div>
    </nav>
  </header>
</script>

<script id="newPlaylistView-template" type="text/x-template">
  <h2><span class="step">Step1: </span>Make new playlist</h2> 
  <form> 
    <div>
      <label for="name">Name</label><br> 
      <input id="name" placeholder="Enter playlist name"></input> 
    </div> 
    <div>
      <label for="song_limit">No. of songs per guest</label><br> 
      <input id="song-limit" type="number" min="1" max="100" placeholder="Enter song limit"></input> 
    </div>
    <button class="btn new-playlist-btn">Go!</button> 
  </form>  
</script>

<script id="addSongsView-template" type="text/x-template">
  <h2><span class="step">Step2: </span>Add songs</h2> 
  <form> 
    <div>
      <label for="url">Song URL</label><br> 
      <input id="url1" placeholder="https://soundcloud.com/thepreatures/ithyf"></input> 
    </div> 
    <div>
      <label for="url">Song URL</label><br> 
      <input id="url2" placeholder="https://soundcloud.com/alabamashakes/hold-on"></input> 
    </div> 
    <div>
      <label for="url">Song URL</label><br> 
      <input id="url3" placeholder="https://soundcloud.com/asgeirmusic/asgeir-king-and-cross"></input> 
    </div> 
    <button class="btn add-songs-btn">Go!</button> 
    <a href="#shareplaylist">Skip step</a>
  </form>  
</script>

<script id="sharePlaylistView-template" type="text/x-template">
  <h2><span class="step">Step3: </span>Share playlist</h2> 
  <p>Your playlist URL is: <a href="#{{user.username}}/{{playlist.playlist_url}}">www.playa-app.herokuapp.com/#{{user.username}}/{{playlist.playlist_url}}</a></p>
  <a href="#{{user.username}}/{{playlist.playlist_url}}" class="go-to-playlist">View Playlist</a>
</script>

<script id="myPlaylistsViewTitle-template" type="text/x-template">
  <h2>My playlists</h2>
</script>

<script id="myPlaylistsView-template" type="text/x-template">
  <a href="#{{user.username}}/{{playlist_url.playlist_url}}"><h3>{{playlist_url.name}}</h3></a>
</script>

<script id="playlistOwnerView-template" type="text/x-template">
  <h2>Playlist owner view</h2>
    <div class="playlist-stats-container"></div>
    <div class="player-container"></div>
    <div class="song-stats-container"></div>
    <div class="songs-container"></div>
</script>

<script id="playlistStatsView-template" type="text/x-template">
  <ul class="playlist-stats stats">
    <li class="stat playlist-stat">Playlist name: {{playlist_name}}</li>
    <li class="stat playlist-stat">Created by: {{creator_name}}</li>
    <li class="stat playlist-stat">Contributors: {{contributor_count}}</li>
  </ul>
</script>

<script id="songStatsView-template" type="text/x-template">
   <ul class="song-stats stats">
    <li class="stat song-stat">Song chosen by:</li>
    <li class="stat song-stat">Skips:</li>
    <li class="stat song-stat">XXX</li>
  </ul>
</script>

<script id="playerView-template" type="text/x-template">
  <a href="/{{creator_name}}/{{playlist_url}}/shuffle_songs" class="shuffle" data-remote=true>Shuffle</a>
</script>

<script id="songView-template" type="text/x-template">
  <div class="song-view">
    <div class="song-count"></div>
    <img class="song-image" src="{{song_info.image}}"/>
    <div class="skip">Vote to skip</div>
  </div>
</script>

<script id="playlistGuestView-template" type="text/x-template">
  <h2>playlist guest view</h2>

</script>


  <!--      // var options = {
        //   playlist_url: playa.myplaylists.toJSON()[i],
        //   user: playa.currentUser.toJSON()
        // } -->


<!-- <iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?visual=true&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F293&show_artwork=true&client_id=42df4f88b96074520cc64f4be69e3ab4"></iframe>
 -->