<header>
  <h1 class="title">Playa<i class="fa fa-play"></i></h1>
  <nav>
<!--       <a href="" class="nav-link nav-link-home">Home</a>
    <a href="#search" class="nav-link">Search Flights</a>
    <a href="#planes" class="nav-link">Create Plane</a>
    <a href="#flights" class="nav-link">Create Flight</a> -->
  </nav>
</header>
<div id="main"></div>
